# Claude
.claude/commands
.claude/plugins
.claude/shell-snapshots
.claude/skills
.claude/statsig
.claude/todos
.claude/.claude.json
.claude/.claude.json.backup
.claude/.mcp.json
.claude/settings.json
.claude/settings.local.json
skills/*.zip
skills/**/instructions.json
skills/**/memory.json

# Environment
.env
.env.local

# Logs
*.log
logs/

# MacOS
**/.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Node.js
node_modules/
package.json
package-lock.json

# Temporary files
*.bak
*.swp
*.tmp
*~

# VS Code
.history/
